{% extends 'inicio/inicio.html' %}
{% load static %}
{% block contenido %}
    <form method="POST" action="{% url 'calcular_polinomio' %}" id="form-evaluador">
        {% csrf_token %}
        <div class="input-tt">
            <label for="entrada-funcion" name="entrada-funcion">Funcion:</label>
            <input type="text" id="entrada-funcion" name="entrada-funcion">
        </div>
        <div class="botonera-form">
            <input class="boton-especial" type="reset" value="Borrar">
            <input class="boton-especial" type="submit" value="Calcular">
        </div>
    </form>
    {% if existeResultado %}
        <div class="contenedor-resultado">
            <h5>Resultado</h5>
            <div class="contenedor-resultados-multiples">
                {% for i in tablaResultado %}
                    <div class="resultados-multiples__elemento md">
                        <h6>Raiz</h6>
                        <div class="resultados-multiples__elemento__valor">
                            <input class="" type="text" value={{i}}>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}
{% block informacion-grafico %}
    <img src="{% static '\img\grafico.png' %}">
{% endblock %}
{% block informacion-teoria %}
    {% lorem 10 b random %}
{% endblock %}